.salah-mod {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .prayer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .prayer-name {
    flex: 1;
    font-weight: bold;
  }
  
  .time-setters {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  
  .time-setter {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  label {
    margin-right: 5px;
  }
  
  input[type="time"] {
    flex: 1;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .salah-mod {
      padding: 0.5rem;
    }
  
    .prayer-section {
      flex-direction: column;
    }
  
    .time-setters {
      flex-direction: column;
    }
  
    button {
      padding: 0.5rem;
    }
  } 